# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clone Submodules
        run: git submodule init; git submodule update --init
      - name: Update Submodules
        run: cd license-compatibility-checker; git pull origin master; cd ..
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm i
      - name: Build
        run: npm run build
      - name: Remove node_modules
        run: rm -rf node_modules;
      - name: Test
        run: npm run test
      - name: Install bundled dependencies
        run: npm i --production
      - name: Ensure Licenses are OK
        run: npm run test
